.main-panel {
    margin:  1rem;
}

.button-container {
    display: flex;
}

.export-botton {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    width: 12rem;
}

.mat-mdc-card {
    margin-bottom: 1rem;
}