<div class="list-commands">
    <div class="list-commands-all">
        <div>
            <div>
            </div>
            <div>
                <button mat-raised-button color="accent" class="command-button" (click)="doClose()">
                    <mat-icon>arrow_back</mat-icon> Back
                </button>
            </div>
        </div>
    </div>
    <div class="list-commands-all">
        <div>
            <div>
            </div>
            <div>
                <button mat-raised-button color="accent" class="command-button" (click)="add()">Add Value</button>
            </div>
        </div>
    </div>
    <div class="list-commands-selection">
        <div class="list-commands-header">
            Selection
        </div>
        <div>
            <button mat-raised-button class="command-button" [disabled]="selection.selected.length != 1"
                (click)="edit()">Edit</button>
            <button mat-raised-button class="command-button" [disabled]="selection.isEmpty()"
                (click)="delete()">Delete</button>
        </div>
    </div>
</div>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-list">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let record"> {{record.name}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Default Value </th>
            <td mat-cell *matCellDef="let record"> {{record.value}} </td>
        </ng-container>
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>