.vs/**/*.*
NaoBlocks.Parser/bin/**/*.*
NaoBlocks.Parser/obj/**/*.*
NaoBlocks.Parser.Tests/bin/**/*.*
NaoBlocks.Parser.Tests/obj/**/*.*
NaoBlocks.Web/bin/**/*.*
NaoBlocks.Web/obj/**/*.*
NaoBlocks.Web.Tests/bin/**/*.*
NaoBlocks.Web.Tests/obj/**/*.*
**/coverage.cobertura.xml
coverage/**/*.*
