.vs/**/*.*
NaoBlocks.Common/bin/**/*.*
NaoBlocks.Common/obj/**/*.*
NaoBlocks.Client/bin/**/*.*
NaoBlocks.Client/obj/**/*.*
NaoBlocks.Client.Console/bin/**/*.*
NaoBlocks.Client.Console/obj/**/*.*
NaoBlocks.Core/bin/**/*.*
NaoBlocks.Core/obj/**/*.*
NaoBlocks.Core.Tests/bin/**/*.*
NaoBlocks.Core.Tests/obj/**/*.*
NaoBlocks.Parser/bin/**/*.*
NaoBlocks.Parser/obj/**/*.*
NaoBlocks.Parser.Tests/bin/**/*.*
NaoBlocks.Parser.Tests/obj/**/*.*
NaoBlocks.Web/bin/**/*.*
NaoBlocks.Web/obj/**/*.*
NaoBlocks.Web.Tests/bin/**/*.*
NaoBlocks.Web.Tests/obj/**/*.*
**/coverage.cobertura.xml
coverage/**/*.*
RavenDB.Mocks/bin/**/*.*
RavenDB.Mocks/obj/**/*.*

/client/dist
/client/tmp
/client/out-tsc
/client/node_modules
/client/.sass-cache
/client/connect.lock
/client/npm-debug.log

robot/**/*.pyc
NaoBlocks.Web/wwwroot/**/*.*
LogFiles/*.txt
NaoBlocks.Web/Properties/PublishProfiles/* - Web Deploy.pubxml
NaoBlocks.Web/Properties/PublishProfiles/* - Web Deploy.pubxml.user
robot/Nao/launch/**/*.*
clients/**/*.pyc
