.vs/**/*.*
**/obj/**/*.*
**/bin/**/*.*
Tests/**/coverage.cobertura.xml
Tests/*/coveragereport/*.*
Tests/Coverage/*.*
Utilities/paths.csv
Utilities/swagger.json
Robots/nao/**/*.pyc
Server/NaoBlocks.Web/wwwroot/packages/**/*.*
Data/png/*.*
