<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalSize]="'lg'">
    <h3 class="modal-title">Run Settings</h3>
    <div class="modal-body">
        <form clrForm>
            <clr-input-container>
                <label>Delay Time:</label>
                <input clrInput type="number" [(ngModel)]="settings.delay" name="delay" min="0" max="10" />
                <clr-control-helper>The time to wait between blocks (in seconds.)</clr-control-helper>
            </clr-input-container>
        </form>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{errorMessage}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="opened = false">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="doSave()">
            Save
        </button>
    </div>
</clr-modal>