button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px 5px;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.canvas {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#display {
  display: inline-block;
  width: 400px;
  height: 472px;
  border-radius: 4px;
  border: #008cba solid 2px;
  margin-left: 5px;
}

.btnArray {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

#snap {
  background-color: #008cba;
}

#start {
  background-color: #f44336;
}

#start:hover {
  background-color: #c24037;
}

canvas {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
