.page-centre{
    margin: 20vh calc(50vw - 150px);
    text-align: center;
}

.error {
    margin: 1em 0;
    padding: 0.5em 0.25em;
    background: #c21d00;
    color: #fafafa;
    border-radius: 0.25em;
}