<div class="main-container">
    <app-heartbeat></app-heartbeat>
    <header class="header-4">
        <div class="branding">
            <a href="..." class="nav-link">
                <img src="assets/nao.svg" style="width: 32px; margin-right: 1em;">
                <span class="title">NaoBlocks</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="cog"></clr-icon>
                    {{currentUser ? currentUser.name : ''}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="javascript://" clrDropdownItem (click)="openChangeRole()" *ngIf="canChangeRole()">Change
                        Role</a>
                    <a href="javascript://" clrDropdownItem (click)="openChangeView()" *ngIf="canChangeView()">Change
                        View</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="about.show()">About</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="logout()">Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="sidebarCollapsed">
            <a clrVerticalNavLink href="javascript://" (click)="doPlay()"
                [class.disabled]="isExecuting">
                <clr-icon clrVerticalNavIcon shape="play" class="is-solid"></clr-icon>
                Play
            </a>
            <a clrVerticalNavLink href="javascript://" (click)="doStop()"
                [class.disabled]="!isExecuting">
                <clr-icon clrVerticalNavIcon shape="stop" class="is-solid"></clr-icon>
                Stop
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink href="javascript://" (click)="doChangeSpeed()">
                <clr-icon clrVerticalNavIcon shape="replay-all"></clr-icon>
                Change Speed
            </a>
        </clr-vertical-nav>
        <div class="content-area">
            <div class="clr-row">
                <div class="clr-col">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-text">
                                <div style="overflow-x: auto; height: 500px;">
                                    <textarea clrTextarea [(ngModel)]="code" style="width: 50vw; height: 50vh;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-about></app-about>
    <app-change-role [role]="'Student'"></app-change-role>
    <app-change-view view="Text Editor"></app-change-view>
    <app-execution-status [isOpen]="startupStatus.sendingToRobot" [steps]="startupStatus.steps" [statusMessage]="startupStatus.startMessage"
        (onClose)="doCancelSend()"></app-execution-status>
    <app-run-settings (updated)="onChangeRunSettings($event)"></app-run-settings>
</div>