<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    <div>
        {{data.prompt}}
    </div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngIf="!status.isUploading && !status.isUploadCompleted">
            <div class="dropzone" appDragAndDrop (fileDropped)="fileBrowseHandler($event)">
                <input type="file" #packageDropRef id="packageDropRef" multiple (change)="fileBrowseHandler($event)" />
                <mat-icon>cloud_upload</mat-icon>
                <h3>Drag files for upload here</h3>
                <h3>or</h3>
                <label for="packageDropRef" class="btn btn-success">Browse for files</label>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="files-list">
                <div class="single-file" *ngFor="let file of status.files; let i = index">
                    <mat-icon>insert_drive_file</mat-icon>
                    <div class="info">
                        <h4 class="name">
                            {{ file?.name }}
                        </h4>
                        <p class="size">
                            {{ formatBytes(file?.size) }}
                        </p>
                    </div>
                    <button type="button" class="btn btn-icon btn-warning" aria-label="warning" (click)="deleteFile(i)"
                        title="Remove file" [disabled]="status.isUploading || status.isUploadCompleted">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="status.isUploading || status.isUploadCompleted">
            <div style="height:100px;">
            <h3>
                <mat-icon class="upload-status-icon" *ngIf="status.uploadState==0">cloud_upload</mat-icon>
                <mat-icon class="upload-status-icon" *ngIf="status.uploadState==1"></mat-icon>
                <mat-icon class="upload-status-icon" *ngIf="status.uploadState==2">cloud_done</mat-icon>
                {{status.uploadStatus}}
            </h3>
            <mat-progress-bar mode="determinate" [value]="status.uploadProgress"></mat-progress-bar>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button *ngIf="data.showCancel && !status.isUploadCompleted" (click)="cancelUpload()">Cancel</button>
    <button mat-button [disabled]="status.isUploading" *ngIf="!status.isUploadCompleted"
        (click)="startUpload()">Upload</button>
    <button mat-button *ngIf="status.isUploadCompleted" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>