.dropzone {
    width: 80%;
    height: 200px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #666;
    position: relative;
    margin: 0 auto;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    h3 {
        font-size: 20px;
        margin: 6px;
    }

    label {
        font-size: 20px;
        margin: 6px;
    }

    .mat-icon {
        font-size: 100px;
        margin-left: -70px;
    }
}

.file-over {
    background-color: #ccc;
}

.files-list {
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;

    .single-file {
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
        border: dashed 1px #ccc;
        margin-bottom: 1rem;

        button {
            margin-left: 0.5rem;
            cursor: pointer;
            align-self: flex-end;
        }

        display: flex;
        flex-grow: 1;

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #000;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #666;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%;
        }
    }
}

.upload-status-icon {
    margin: 3px;
}
