<form [formGroup]="form" (ngSubmit)="doSave()" class="editor">
    <div class="commands">
        <button mat-raised-button color="accent" class="command-button" (click)="doClose()">
            <mat-icon>arrow_back</mat-icon> Back
        </button>
        <div class="spacer"></div>
        <button mat-raised-button color="primary" type="submit">
            Save
        </button>
    </div>
    <mat-card>
        <mat-card-content>
            <app-user-settings (closed)="doClose()" [showAllocation]="true"></app-user-settings>
            
            <mat-error *ngIf="errors.length > 0" class="lower-1">
                There were some errors saving the robot type:
                <ul>
                    <li *ngFor="let error of errors">{{error}}</li>
                </ul>
            </mat-error>
        </mat-card-content>
    </mat-card>
</form>
