<clr-modal [(clrModalOpen)]="isOpen" [clrModalStaticBackdrop]="false" [clrModalClosable]="false"
[clrModalSize]="'xl'">
<h3 class="modal-title">Starting Program</h3>
<div class="modal-body">
    <ul class="clr-timeline clr-timeline-horizontal">
        <li class="clr-timeline-step" *ngFor="let step of steps">
            <clr-spinner clrMedium *ngIf="step.isCurrent"></clr-spinner>
            <clr-icon [attr.shape]="step.image" *ngIf="!step.isCurrent"></clr-icon>
            <div class="clr-timeline-step-body">
                <span class="clr-timeline-step-title">{{step.title}}</span>
                <span class="clr-timeline-step-description">{{step.description}}</span>
            </div>
        </li>
    </ul>
    <div class="alert alert-danger" role="alert" *ngIf="statusMessage">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{statusMessage}}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="doClose()">
        {{statusMessage ? 'Close' : 'Cancel'}}
    </button>
</div>
</clr-modal>
