<div class="main-container">
    <app-heartbeat></app-heartbeat>
    <header class="header-4">
        <div class="branding">
            <a href="..." class="nav-link">
                <img src="assets/nao.svg" style="width: 32px; margin-right: 1em;">
                <span class="title">Kare Nao</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="cog"></clr-icon>
                    {{currentUser ? currentUser.name : ''}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="javascript://" clrDropdownItem (click)="openChangeRole()" *ngIf="canChangeRole()">Change
                        Role</a>
                    <a href="javascript://" clrDropdownItem (click)="openChangeView()" *ngIf="canChangeView()">Change
                        View</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="about.show()">About</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="logout()">Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="clr-row">
                <div class="clr-col-sm-12 clr-col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-text">
                                <canvas #videoCanvas id="video-canvas" width="640" height="480" style="background: #000; display: block; margin-left: auto; margin-right: auto;">
                                </canvas>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" *ngIf="!cameraStarted" (click)="startCamera()">Start Camera</button>
                            <button class="btn btn-sm btn-link" *ngIf="cameraStarted" (click)="stopCamera()">Stop Camera</button>
                        </div>
                    </div>
                </div>
                <div class="clr-col-sm-12 clr-col-md-6" *ngIf="cameraStarted">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-text">
                                <div style="display: block; height:480px; overflow: hidden;">
                                    <div class="tangible" [ngClass]="{'highlight': block.highlight}" *ngFor="let block of blocks">
                                        <img src="/assets/img/{{block.image}}.png">
                                        <p>{{block.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="executeCode()">Run</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-about></app-about>
    <app-change-role [role]="'Student'"></app-change-role>
    <app-change-view view="Tangibles"></app-change-view>
    <app-execution-status [isOpen]="sendingToRobot" [steps]="steps" [statusMessage]="startMessage" (onClose)="doCancelSend()"></app-execution-status>
</div>