a.disabled {
    pointer-events: none;
    cursor: default;
    color: #aaaaaa;
}

.tangible {
    width: 300px;
    height: 95px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;

    img {
        margin: 10px 0;
    }

    p {
        display: inline-block;
        width: 200px;
        height: 95px;
        margin-top: auto;
        margin-bottom: auto;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
        word-wrap: break-word;
        color: #000000;
    }
}

.highlight {
    background-color: #3399ff;
    border-radius: 4px;
}

#video-canvas {
    background: #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
