<div *ngIf="isInList">
    <clr-datagrid [(clrDgSelected)]="selected" [clrDgLoading]="isLoading">
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="doRefresh()">
                    <clr-icon shape="refresh"></clr-icon> Refresh
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="doAddNew()">
                    <clr-icon shape="plus"></clr-icon> Add New
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="doEdit()"
                    [disabled]="selected.length !== 1">
                    <clr-icon shape="pencil"></clr-icon> Edit
                </button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="doDelete()"
                    [disabled]="selected.length === 0">
                    <clr-icon shape="close"></clr-icon> Delete
                </button>
            </div>
            <div class="btn-group">
                <clr-dropdown>
                    <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
                        Export
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" (click)="doExportList()" clrDropdownItem>
                            List
                        </button>
                        <div class="dropdown-divider" role="separator"></div>
                        <button type="button" (click)="doExportDetails()" clrDropdownItem
                            [disabled]="selected.length === 0">Details</button>
                        <button type="button" (click)="doExportPackage()" clrDropdownItem
                            [disabled]="selected.length === 0">Package</button>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
            <div class="btn-group">
                <clr-dropdown>
                    <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
                        Import
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" (click)="doImportPackage()" clrDropdownItem
                            [disabled]="selected.length === 0">Package</button>
                        <div class="dropdown-divider" role="separator"></div>
                        <button type="button" (click)="doImportToolbox()" clrDropdownItem
                            [disabled]="selected.length === 0">Toolbox</button>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </clr-dg-action-bar>

        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>

        <clr-dg-row *clrDgItems="let robotType of robotTypes.items" [clrDgItem]="robotType">
            <clr-dg-cell>
                <clr-icon shape="file-settings" class="is-solid" [ngClass]="{'has-alert': robotType.isDefault}">
                </clr-icon>
                <span class="can-edit" (click)="doEdit(robotType)">
                    {{robotType.name}}
                </span>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{robotTypes.count}} robot {{robotTypes.count === 1 ? 'type' : 'types'}}</clr-dg-footer>

        <clr-dg-placeholder>We couldn't find any robot types</clr-dg-placeholder>
    </clr-datagrid>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{errorMessage}}
                </span>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="errorMessage=undefined">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="message">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{message}}
                </span>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="message=undefined">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
</div>
<div *ngIf="isInEditor">
    <app-robot-type-editor [robotType]="currentRobotType" (closed)="onClosed($event)"></app-robot-type-editor>
</div>

<clr-modal [(clrModalOpen)]="importWindowOpened" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <h3 class="modal-title">{{importWindowTitle}}</h3>
    <div class="modal-body">
        <form clrForm>
            <div class="clr-row">
                <div class="clr-col" *ngIf="!isUploading && !isUploadCompleted">
                    <div class="dropzone" appDragAndDrop (fileDropped)="fileBrowseHandler($event)">
                        <input type="file" #packageDropRef id="packageDropRef" multiple
                            (change)="fileBrowseHandler($event.target.files)" />
                        <clr-icon shape="upload-cloud" size="100"></clr-icon>
                        <h3>Drag files for upload here</h3>
                        <h3>or</h3>
                        <label for="packageDropRef" class="btn btn-success">Browse for files</label>
                    </div>
                </div>
                <div class="clr-col">
                    <div class="files-list">
                        <div class="single-file" *ngFor="let file of files; let i = index">
                            <clr-icon shape="file" size="48" style="margin-right: 8px;"></clr-icon>
                            <div class="info">
                                <h4 class="name">
                                    {{ file?.name }}
                                </h4>
                                <p class="size">
                                    {{ formatBytes(file?.size) }}
                                </p>
                            </div>
                            <button type="button" class="btn btn-icon btn-warning" aria-label="warning"
                                (click)="deleteFile(i)" title="Remove file" [disabled]="isUploading || isUploadCompleted">
                                <clr-icon shape="trash"></clr-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clr-col" *ngIf="isUploading || isUploadCompleted">
                    <h3>
                        <clr-icon class="upload-status-icon" size="24" shape="upload-cloud" *ngIf="uploadState==0"></clr-icon>
                        <clr-icon class="upload-status-icon" size="24" shape="form" *ngIf="uploadState==1"></clr-icon>
                        <clr-icon class="upload-status-icon" size="24" shape="success-standard" *ngIf="uploadState==2"></clr-icon>
                        {{uploadStatus}}
                    </h3>
                    <clr-progress-bar [clrValue]="uploadProgress" [clrMax]="uploadProgressEnd"></clr-progress-bar>
                </div>
            </div>
        </form>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{errorMessage}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="cancelUpload()" *ngIf="!isUploadCompleted">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="importWindowAction()" [disabled]="isUploading" *ngIf="!isUploadCompleted">
            Upload
        </button>
        <button type="button" class="btn" (click)="importWindowOpened = false" *ngIf="isUploadCompleted">
            Close
        </button>
    </div>
</clr-modal>