<div class="clr-row" *ngIf="!currentRobotType">
    <div class="clr-col">
        <div class="card">
            <div class="card-header">
                Server Addresses
            </div>
            <div class="card-block">
                <div *ngIf="downloadingAddresses">
                    <span class="spinner spinner-inline">
                        Loading
                    </span>
                    Retrieving addresses, please wait...
                </div>
                <div *ngIf="!downloadingAddresses">
                    <div>
                        The following addresses are available:
                    </div>
                    <div *ngFor="let address of addresses">
                        <clr-icon shape="network-globe"
                            [ngClass]="{'has-alert': address.isDefault, 'site-address': canConfigureAddresses}"
                            size="24" (click)="setDefault(address)"></clr-icon>
                        <span (click)="showQRCode(address)">
                            {{address.url}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer" *ngIf="!downloadingAddresses">
                <a href="{{connectTextUrl}}">Download</a>
            </div>
        </div>
    </div>
    <div class="clr-col">
        <div class="card">
            <div class="card-header">
                Robot Packages
            </div>
            <div class="card-block">
                <div *ngIf="downloadingRobotTypes">
                    <span class="spinner spinner-inline">
                        Loading
                    </span>
                    Retrieving robot types, please wait...
                </div>
                <div *ngIf="!downloadingRobotTypes">
                    <div>
                        The following robot types are available:
                    </div>
                    <ul class="list">
                        <li *ngFor="let robotType of robotTypes">
                            <a (click)="currentRobotType = robotType" href="javascript://">
                                {{robotType.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-robot-package [robotType]="currentRobotType" *ngIf="currentRobotType" (closed)="currentRobotType = undefined">
</app-robot-package>
<clr-modal [(clrModalOpen)]="isQRCodeWindowOpen" [clrModalStaticBackdrop]="false" [clrModalClosable]="false">
    <h3 class="modal-title">QR Code</h3>
    <div class="modal-body">
        <div class="qr-code-display">
            <div>
                <img [src]="addressQRCode" class="qr-code">
            </div>
            <div>
                {{selectedAddress.url}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="isQRCodeWindowOpen = false">
            Close
        </button>
    </div>
</clr-modal>