<div class="clr-row" style="margin-bottom: 1em;">
    <div class="clr-col-1">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="refreshStatus()">
                <clr-icon shape="refresh"></clr-icon> Refresh
            </button>
        </div>
    </div>
    <div class="clr-col">
        <div *ngIf="isLoading">
            <span class="spinner spinner-inline">
                [Loading]
            </span>
            <span>
                Loading, please wait...
            </span>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="status.error">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{status.error}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<clr-accordion>
    <clr-accordion-panel>
        <clr-accordion-title>
            Users <span class="badge badge-info">{{status.usersConnected.length}}</span>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
            <table class="table">
                <thead>
                    <tr>
                        <th class="left">Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of status.usersConnected">
                        <td class="left">{{user.name}}</td>
                        <td>{{user.status}}</td>
                    </tr>
                </tbody>
            </table>
        </clr-accordion-content>
    </clr-accordion-panel>
    <clr-accordion-panel>
        <clr-accordion-title>
            Robots <span class="badge badge-info">{{status.robotsConnected.length}}</span>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
            <table class="table">
                <thead>
                    <tr>
                        <th class="left">Name</th>
                        <th>Status</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let robot of status.robotsConnected">
                        <td class="left">{{robot.machineName}} [{{robot.friendlyName}}]</td>
                        <td>{{robot.status}}</td>
                        <td>{{robot.isAvailable ? 'Yes' : 'No'}}</td>
                    </tr>
                </tbody>
            </table>
        </clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>