<form [formGroup]="form" class="editor lower-3">
    <mat-card>
        <mat-card-title>Robot</mat-card-title>
        <mat-card-content>
            <mat-form-field class="fill-width">
                <mat-label>Type</mat-label>
                <select matNativeControl formControlName="type" required>
                    <option></option>
                    <option *ngFor="let type of types" value="{{type.name}}">{{type.name}}</option>
                </select>
                <mat-error>
                    Please select a robot type
                </mat-error>
                <mat-hint>The type of robot to program</mat-hint>
            </mat-form-field>

            <div *ngIf="showAllocation">
                <mat-form-field class="fill-width">
                    <mat-label>Allocation Mode</mat-label>
                    <select matNativeControl formControlName="allocationMode" required>
                        <option value="any">Any robot</option>
                        <option value="require">Require robot</option>
                        <option value="prefer">Prefer robot</option>
                    </select>
                    <mat-error>
                        Please select an allocation mode
                    </mat-error>
                    <mat-hint>Which robot will the student use</mat-hint>
                </mat-form-field>

                <mat-form-field class="fill-width" *ngIf="settings.allocationMode">
                    <mat-label>Type</mat-label>
                    <select matNativeControl formControlName="robotId" required>
                        <option></option>
                        <option value="{{robot.machineName}}" *ngFor="let robot of robots">
                            {{robot.friendlyName}}
                            [{{robot.machineName}}]</option>
                    </select>
                    <mat-error>
                        Please select a robot type
                    </mat-error>
                    <mat-hint>The assigned robot</mat-hint>
                </mat-form-field>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Functionality</mat-card-title>
        <mat-card-content>
            <mat-form-field class="fill-width" *ngIf="showConfiguration">
                <mat-label>Configuration Mode</mat-label>
                <select matNativeControl formControlName="configMode" required>
                    <option value="1">Standard</option>
                    <option value="2">Custom</option>
                </select>
                <mat-error>
                    Please select a configuration mode
                </mat-error>
                <mat-hint>How are the blocks configured</mat-hint>
            </mat-form-field>

            <div *ngIf="configurationMode == 2">
                <mat-form-field class="fill-width">
                    <mat-label>Custom Set</mat-label>
                    <select clrSelect name="customBlockSet" [(ngModel)]="settings.customBlockSet">
                        <option value="{{set.value}}" *ngFor="let set of blockSets">{{set.name}}</option>
                    </select>
                    <mat-hint>A custom set of blocks to use</mat-hint>
                </mat-form-field>
            </div>

            <div *ngIf="configurationMode == 1">
                <mat-form-field class="fill-width">
                    <mat-label>Interface Style</mat-label>
                    <select matNativeControl formControlName="interfaceStyle" required>
                        <option value="2">Simple Blocks</option>
                        <option value="1">Default Blocks</option>
                        <option value="3">Event Blocks</option>
                    </select>
                    <mat-error>
                        Please select a configuration mode
                    </mat-error>
                    <mat-hint>What type of interface should be displayed</mat-hint>
                </mat-form-field>

                <div class="categories" *ngIf="interfaceStyle != 2">
                    <label>Categories</label>
                    <mat-slide-toggle formControlName="displayDances">Dances</mat-slide-toggle>
                    <mat-slide-toggle formControlName="displayConditionals">Conditionals</mat-slide-toggle>
                    <mat-slide-toggle formControlName="displayLoops">Loops</mat-slide-toggle>
                    <mat-slide-toggle formControlName="displaySensors">Sensors</mat-slide-toggle>
                    <mat-slide-toggle formControlName="displayVariables">Variables</mat-slide-toggle>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>