a.disabled {
  pointer-events: none;
  cursor: default;
  color: #aaaaaa;
}

.trigger-button {
  color: #000;
}

.trigger-button-open {
  transform: rotate(90deg);
}

.trigger-button-closed {
  transform: rotate(270deg);
}

.hide-tutorial {
  flex: 0 0 3rem;
  max-width: 3rem;
}

.editor-full {
  flex: 0 0 calc(100% - 3rem);
  max-width: calc(100% - 3rem);
}

.editor-fill {
  flex: 0 0 100%;
  max-width: 100%;
}

header .branding .subtitle, .header .branding .subtitle {
  color: #fafafa;
  color: var(--clr-header-title-color, #fafafa);
  font-weight: 400;
  font-weight: var(--clr-header-title-font-weight, 400);
  font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
  font-family: var(--clr-header-title-font-family, Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif);
  font-size: .6rem;
  letter-spacing: .01em;
  line-height: 3rem;
  text-decoration: none;
  margin-top: 0.1rem;
  margin-left: 0.25rem;
}