<div class="alert alert-app-level alert-danger" role="alert" *ngIf="!hasAccess">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
                You do not have access to this role
            </div>
            <div class="alert-actions">
                <button class="btn alert-action" (click)="changeRole()">Change Role</button>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <header class="header-4">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="book"></clr-icon>
                <span class="title">NaoBlocks</span>
            </a>
        </div>
        <div class="header-nav">
            <a href="javascript://" class="nav-link nav-text">Play</a>
            <a href="javascript://" class="nav-link nav-text">Stop</a>
            <a href="javascript://" class="nav-link nav-text">Load</a>
            <a href="javascript://" class="nav-link nav-text">Save</a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="cog"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="javascript://" clrDropdownItem>Preferences</a>
                    <a href="javascript://" clrDropdownItem (click)="changeRole()">Change Role</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="about.show()">About</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="logout()">Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div id="blocklyDiv" style="width: 100%; height: 100%"></div>
        </div>
    </div>
    <app-about></app-about>
    <app-change-role [role]="'Student'"></app-change-role>
</div>
