<div class="alert alert-app-level alert-danger" role="alert" *ngIf="!hasAccess">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
                You do not have access to this role
            </div>
            <div class="alert-actions">
                <button class="btn alert-action" (click)="changeRole()">Change Role</button>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <app-heartbeat></app-heartbeat>
    <header class="header-4">
        <div class="branding">
            <a href="..." class="nav-link">
                <img src="assets/nao.svg" style="width: 32px; margin-right: 1em;">
                <span class="title">NaoBlocks</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="cog"></clr-icon>
                    {{currentUser ? currentUser.name : ''}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="javascript://" clrDropdownItem (click)="showSettings()">Settings</a>
                    <a href="javascript://" clrDropdownItem (click)="changeRole()" *ngIf="canChangeRole()">Change
                        Role</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="about.show()">About</a>
                    <div class="dropdown-divider" role="separator"></div>
                    <a href="javascript://" clrDropdownItem (click)="logout()">Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="sidebarCollapsed">
            <a clrVerticalNavLink href="javascript://" (click)="doPlay()" [class.disabled]="isExecuting">
                <clr-icon clrVerticalNavIcon shape="play" class="is-solid"></clr-icon>
                Play
            </a>
            <a clrVerticalNavLink href="javascript://" (click)="doStop()" [class.disabled]="!isExecuting">
                <clr-icon clrVerticalNavIcon shape="stop" class="is-solid"></clr-icon>
                Stop
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink href="javascript://" (click)="doClear()" [class.disabled]="isExecuting">
                <clr-icon clrVerticalNavIcon shape="eraser"></clr-icon>
                Clear
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink href="javascript://" (click)="doLoad()"
                [class.disabled]="isExecuting || !currentUser">
                <clr-icon clrVerticalNavIcon shape="upload"></clr-icon>
                Load
            </a>
            <a clrVerticalNavLink href="javascript://" (click)="doSave()"
                [class.disabled]="isExecuting || !currentUser">
                <clr-icon clrVerticalNavIcon shape="download"></clr-icon>
                Save
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink href="javascript://" (click)="doChangeSpeed()">
                <clr-icon clrVerticalNavIcon shape="replay-all"></clr-icon>
                Change Speed
            </a>
        </clr-vertical-nav>
        <div class="content-area">
            <div class="clr-row" style="height:100%">
                <div class="clr-col-10 clr-col-lg-9"
                    [ngClass]="{'editor-full': !isTutorialHidden && !tutorialOpen, 'editor-fill': isTutorialHidden}">
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                    {{errorMessage}}
                                </span>
                            </div>
                        </div>
                        <button type="button" class="close" aria-label="Close" (click)="errorMessage=undefined">
                            <clr-icon aria-hidden="true" shape="close"></clr-icon>
                        </button>
                    </div>
                    <div id="blocklyArea" style="height: 100%; width: 100%;"></div>
                    <div id="blocklyDiv" style="position: absolute;"></div>
                </div>
                <div class="clr-col-2 clr-col-lg-3" [ngClass]="{'hide-tutorial': !tutorialOpen}"
                    *ngIf="!isTutorialHidden">
                    <div class="card" style="margin-top: 0;">
                        <div class="card-header">
                            <button (click)="tutorialOpen=!tutorialOpen" class="btn btn-sm btn-link">
                                <clr-icon shape="angle-double" class="trigger-button"
                                    [ngClass]="{'trigger-button-open': tutorialOpen, 'trigger-button-closed': !tutorialOpen}">
                                </clr-icon>
                            </button>
                            {{currentTutorial ? currentTutorial.name : 'Tutorial'}}
                        </div>
                        <div class="card-block" *ngIf="tutorialOpen">
                            <div class="card-text" *ngIf="tutorialLoading">
                                <span class="spinner spinner-inline">
                                    (_)
                                </span>
                                <span>
                                    Loading tutorial details, please wait...
                                </span>
                            </div>
                            <div class="card-text" *ngIf="!tutorialLoading && !currentTutorial">
                                <div style="margin-bottom: 1rem;">
                                    You are not in a tutorial.
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block" (click)="showStartTutorial()">Start
                                        Tutorial</button>
                                </div>
                            </div>
                            <div class="card-text" *ngIf="!tutorialLoading && !!currentTutorial">
                                <form clrStepper [formGroup]="tutorialForm" (ngSubmit)="markTutorialComplete()">
                                    <clr-stepper-panel [formGroupName]="'ex' + ex.order"
                                        *ngFor="let ex of currentTutorial.exercises">
                                        <clr-step-title>{{ex.name}}</clr-step-title>
                                        <clr-step-content [(clrIfExpanded)]="ex.isCurrent">
                                            <h3 *ngIf="ex.title">{{ex.title}}</h3>
                                            <ol>
                                                <li *ngFor="let line of ex.lines">
                                                    {{line.message}}
                                                </li>
                                            </ol>
                                            <button clrStepButton="next" (click)="markExerciseAsComplete(ex)">
                                                {{ex.isLast ? 'Done' : 'Next'}}
                                            </button>
                                        </clr-step-content>
                                    </clr-stepper-panel>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-about></app-about>
    <app-change-role [role]="'Student'"></app-change-role>
    <app-save-program (save)="onSave($event)"></app-save-program>
    <app-load-program (load)="onLoad($event)"></app-load-program>
    <app-user-settings (save)="onSaveSettings($event)"></app-user-settings>
    <app-run-settings (updated)="onChangeRunSettings($event)"></app-run-settings>
    <clr-modal [(clrModalOpen)]="sendingToRobot" [clrModalStaticBackdrop]="false" [clrModalClosable]="false"
        [clrModalSize]="'xl'">
        <h3 class="modal-title">Starting Program</h3>
        <div class="modal-body">
            <ul class="clr-timeline clr-timeline-horizontal">
                <li class="clr-timeline-step" *ngFor="let step of steps">
                    <clr-spinner clrMedium *ngIf="step.isCurrent"></clr-spinner>
                    <clr-icon [attr.shape]="step.image" *ngIf="!step.isCurrent"></clr-icon>
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title">{{step.title}}</span>
                        <span class="clr-timeline-step-description">{{step.description}}</span>
                    </div>
                </li>
            </ul>
            <div class="alert alert-danger" role="alert" *ngIf="startMessage">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                            {{startMessage}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="doCancelSend()">
                {{startMessage ? 'Close' : 'Cancel'}}
            </button>
        </div>
    </clr-modal>
    <clr-modal [(clrModalOpen)]="userInput.open" [clrModalStaticBackdrop]="false" [clrModalClosable]="false">
        <div class="modal-body">
            <div *ngIf="!userInput.showValue">
                {{userInput.title}}
            </div>
            <form class="clrForm" *ngIf="userInput.showValue" style="height:6em;" clrLayout="horizontal">
                <clr-input-container>
                    <label class="clr-col-12 clr-col-md-4">{{userInput.title}}</label>
                    <input class="clr-col-12 clr-col-md-8" clrInput type="text" [(ngModel)]="userInput.value"
                        name="userInputValue" />
                </clr-input-container>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeUserInput(true)">
                Ok
            </button>
            <button type="button" class="btn" (click)="closeUserInput(false)">
                Cancel
            </button>
        </div>
    </clr-modal>
    <clr-modal [(clrModalOpen)]="tutorialSelectorOpen" [clrModalStaticBackdrop]="false" [clrModalClosable]="false">
        <h3 class="modal-title">Select Tutorial</h3>
        <div class="modal-body" style="height: 10rem; overflow-y: auto;">
            <div *ngIf="loadingTutorials">
                <span class="spinner spinner-inline">
                    (_)
                </span>
                <span>
                    Loading tutorials, please wait...
                </span>
            </div>
            <div *ngIf="!loadingTutorials">
                <div *ngFor="let tutorial of tutorialList">
                    <button type="button" class="btn btn-block" (click)="selectTutorial(tutorial)">
                        {{tutorial.name}}
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" (click)="selectTutorial()">
                Cancel
            </button>
        </div>
    </clr-modal>
</div>