<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="book"></clr-icon>
                <span class="title">NaoBlocks</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="cog"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="..." clrDropdownItem>About</a>
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a href="..." clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            ...
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <a href="..." class="nav-link active">
                    Students
                </a>
                <a href="..." class="nav-link">
                    Robots
                </a>
            </section>
        </nav>
    </div>
</div>