<div class="card">
    <div class="card-header">
        Package Files
    </div>
    <div class="card-block">
        <div *ngIf="downloadingFileList">
            <span class="spinner spinner-inline">
                Loading
            </span>
            Retrieving package list, please wait...
        </div>
        <div *ngIf="!downloadingFileList">
            <div>
                The following files are in the package list:
            </div>
            <ul class="list">
                <li *ngFor="let file of files">
                    <a href="{{generateDownloadLink(file)}}">
                        {{file.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-footer" *ngIf="!downloadingFileList">
        <a href="{{downloadPackageUrl}}">Download Package List</a>
    </div>
</div>

<div class="btn-group" style="margin-top: 1em;" class="clr-col-12 clr-offset-md-2 clr-col-md-10">
    <button class="btn" (click)="doCancel()">Close</button>
</div>