<div class="logs-main">
    <div class="logs-col">
        <div *ngIf="isLoading">
            <mat-spinner [diameter]="24"></mat-spinner>
            <div class="message">
                Loading, please wait...
            </div>
        </div>
        <mat-card *ngIf="!isLoading" class="scrollable-list">
            <mat-card-content>
                <div>
                    <mat-checkbox [(ngModel)]="includeInitialisation" (change)="applyFilter()" class="space-right">Show initialisations</mat-checkbox>    
                </div>
                <div *ngFor="let robot of robots">
                    <div (click)="toggleRobot(robot)" class="log-main-entry">
                        <mat-icon class="item-icon">{{robot.isExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
                        <mat-icon class="item-icon">lan</mat-icon>
                        {{robot.robot.machineName}} [{{robot.robot.friendlyName}}]
                    </div>
                    <div *ngIf="robot.isExpanded" class="log-lines">
                        <div *ngFor="let log of robot.robot.filteredLogs" (click)="viewLogs(robot.robot, log)"
                            [ngClass]="{'log-selected':log.selected}">
                            <mat-icon class="item-icon">{{log.typeIcon}}</mat-icon>
                            {{log.whenAdded | date:'h:mm:ss a - d MMM, y' }}
                        </div>
                        <div *ngIf="robot.isLoading">
                            <mat-spinner [diameter]="12"></mat-spinner>
                            <div class="message">
                                Loading, please wait...
                            </div>
                        </div>
                        <div *ngIf="robot.hasMore">
                            <button mat-stroked-button (click)="loadNextLogsPage(robot)">Load more</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="logs-col" *ngIf="isLogSelected" class="scrollable-list">
        <div *ngIf="isLogLoading">
            <mat-spinner [diameter]="24"></mat-spinner>
            <div class="message">
                Loading, please wait...
            </div>
        </div>
        <mat-card *ngIf="!isLogLoading">
            <mat-card-content>
                <div>
                <mat-checkbox [(ngModel)]="includeDebug" (change)="refreshLogs()" class="space-right">Show debug
                    messages</mat-checkbox>
                <mat-checkbox [(ngModel)]="includeState" (change)="refreshLogs()" class="space-right">Show state
                    messages</mat-checkbox>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th class="right">Time</th>
                            <th></th>
                            <th class="left">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let line of selectedLog.lines || []" class="top-align">
                            <td class="right">
                                {{line.whenAdded | date:'h:mm:ss a'}}
                            </td>
                            <td class="left">
                                <mat-icon class="item-icon" [ngClass]="line.iconClass || ''">{{line.icon}}</mat-icon>
                            </td>
                            <td class="left">
                                <div (click)="line.isOpen = !line.isOpen">
                                    <mat-icon class="item-icon" *ngIf="line.hasValues">{{line.isOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
                                    {{line.description}}                                    
                                </div>
                                <div *ngIf="line.hasValues && line.isOpen">
                                    <div *ngFor="let value of line.values | keyvalue">
                                        <b>{{value.key}}:</b> {{value.value}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>