<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalClosable]="false">
    <h3 class="modal-title">Change Role</h3>
    <div class="modal-body">
        <div *ngFor="let role of roles">
            <button class="btn btn-block" *ngIf="canAccess(role)" (click)="changeRole(role)" [disabled]="isCurrent(role)">
                {{format(role)}}
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
            Close
        </button>
    </div>
</clr-modal>