<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="primary">
            <span mat-card-avatar class="app-icon"></span> 
            <span class="app-title">NaoBlocks</span>
          </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">
                <mat-icon aria-label="Play current program" class="menu-icon">play_arrow</mat-icon> Play
            </a>
            <a mat-list-item href="#">
                <mat-icon aria-label="Stop current program" class="menu-icon">stop</mat-icon> Stop
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">
                <mat-icon aria-label="Delete current program" class="menu-icon">delete_outline</mat-icon> Clear
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">
                <mat-icon aria-label="Load existing program" class="menu-icon">file_download</mat-icon> Load
            </a>
            <a mat-list-item href="#">
                <mat-icon aria-label="Save current program" class="menu-icon">publish</mat-icon> Save
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">
                <mat-icon aria-label="Change execution settings" class="menu-icon">tune</mat-icon> Settings
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Block Editor</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="showSettings()">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="openChangeRole('Student')" *ngIf="canChangeRole()">
                    <mat-icon>account_circle</mat-icon>
                    <span>Change Role</span>
                </button>
                <button mat-menu-item (click)="openChangeView()" *ngIf="canChangeView()">
                    <mat-icon>wysiwyg</mat-icon>
                    <span>Change View</span>
                </button>
                <button mat-menu-item (click)="openAbout()">
                    <mat-icon>help_outline</mat-icon>
                    <span>About</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Log Out</span>
                </button>
            </mat-menu>
        </mat-toolbar>

        <mat-toolbar color="warn" *ngIf="!hasAccess">
            <button mat-icon-button aria-label="Access error">
                <mat-icon>error_outline</mat-icon>
            </button>
            <span>You do not have access to this role</span>
            <span class="example-spacer"></span>
            <button mat-stroked-button (click)="openChangeRole('Student')">Change Role</button>
        </mat-toolbar>

        <mat-toolbar color="warn" *ngIf="editorSettings.isLoaded && !editorSettings.isSystemInitialised">
            <button mat-icon-button aria-label="No default robot error">
                <mat-icon>error_outline</mat-icon>
            </button>
            <span>The system has not been completely initialised - there is no default robot type</span>
        </mat-toolbar>

        <mat-toolbar color="warn" *ngIf="editorSettings.isLoaded && !editorSettings.user.robotType">
            <button mat-icon-button aria-label="No default robot error">
                <mat-icon>warning_amber</mat-icon>
            </button>
            <span>You have not selected a robot type yet</span>
            <span class="example-spacer"></span>
            <button mat-stroked-button (click)="showSettings()">Settings</button>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>
