.login-panel {
    max-width: 400px;
    margin: 6rem auto 1rem;
}

mat-form-field {
    display: block;
}

.app-icon {
    background-color: #fff;
    background-image: url("/assets/AppIcon.png");
    height: 32px;
    width: 32px;
}

.spinner {
    display: inline;
}

.mat-mdc-progress-spinner{
    display: inline-block;
}