<div class="login-wrapper">
    <form class="login" (ngSubmit)="onSubmit()">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            NaoBlocks
        </section>
        <div class="login-group">
            <clr-input-container>
                <label>Username</label>
                <input type="text" name="username" clrInput [(ngModel)]="username" />
            </clr-input-container>
            <clr-password-container>
                <label>Password</label>
                <input type="password" name="password" clrPassword [(ngModel)]="password" />
            </clr-password-container>
            <div class="error active" *ngIf="loginError">
                {{loginError}}
            </div>
            <div *ngIf="loggingIn" class="btn">
                <span class="spinner spinner-inline">
                    (_)
                </span>
                Authenticating...
            </div>
            <button type="submit" class="btn btn-primary" *ngIf="!loggingIn">
                Next
            </button>
            <div class="version-information">
                <span *ngIf="!version">
                    <span class="spinner spinner-inline spinner-inverse">
                        (_)
                    </span>
                    <span>
                        Loading version...
                    </span>
                </span>
                <span *ngIf="version">
                    Version {{version.version}}
                </span>
            </div>
        </div>
    </form>
    <div class="content-area">
        <img [src]="qrCodeAddress" class="qr-code">
    </div>
</div>