.dropzone {
    width: 80%;
    height: 11rem;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #666;
    position: relative;
    margin: 0 auto;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    h3 {
        font-size: 20px;
        margin: 6px;
    }

    label {
        font-size: 20px;
        margin: 6px;
    }

    .mat-icon {
        font-size: 100px;
        margin-left: -70px;
    }
}

.file-over {
    background-color: #ccc;
}

.panel-content {
    height: 16rem;
    overflow-y: auto;
}

.panel-commands {
    height: 2rem;

    .pull-right {
        float: right;
    }
}

.error-message {
    color: red;
}

.data-list {
    height: 15rem;
    overflow-y: auto;
}

table.mat-table {
    width: 100%;
}
