<h2 mat-dialog-title>Import Robot Type Definitions</h2>
<mat-dialog-content>
    <mat-stepper #stepper linear>
        <mat-step label="Select Input Source" [stepControl]="controlFile">
            <div class="panel-content">
                <div class="dropzone" appDragAndDrop (fileDropped)="fileBrowseHandler($event)">
                    <input type="file" #packageDropRef id="packageDropRef" multiple
                        (change)="fileBrowseHandler($event)" />
                    <mat-icon>cloud_upload</mat-icon>
                    <h3>Drag file for upload here</h3>
                    <h3>or</h3>
                    <label for="packageDropRef" class="btn btn-success">Browse for files</label>
                </div>
            </div>
            <div class="panel-commands">
                <span *ngIf="errorMessage" class="error-message">
                    <mat-icon>error</mat-icon>
                    {{errorMessage}}
                </span>
            </div>
        </mat-step>
        <mat-step label="Verify Data" [stepControl]="controlVerification">
            <div class="panel-content">
                <div class="definition-outline">
                    <div *ngIf="isDuplicate">
                        <mat-icon>difference</mat-icon> This robot type already exists: importing will overwrite the existing definition.
                    </div>
                    <div *ngIf="definition?.parse?.message">
                        <mat-icon>error</mat-icon> {{definition?.parse?.message}}
                    </div>
                    <div>
                        <span class="definition-part">Name:</span>
                        <span class="definition-details">{{definition?.name}}</span>
                    </div>
                    <div>
                        <span class="definition-part">Is Default:</span>
                        <span class="definition-details">{{definition?.isDefault ? "Yes" : "No"}}</span>
                    </div>
                    <div>
                        <span class="definition-part">Allow Logging:</span>
                        <span class="definition-details">{{definition?.allowDirectLogging ? "Yes" : "No"}}</span>
                    </div>
                    <div>
                        <span class="definition-title">Toolboxes</span>
                        <div class="definition-line" *ngFor="let toolbox of definition?.toolboxes">
                            {{toolbox.name}} <span *ngIf="toolbox.isDefault"></span>
                        </div>
                        <div class="definition-none" *ngIf="(definition?.toolboxes?.length || 0) == 0">
                            None
                        </div>
                    </div>
                    <div>
                        <span class="definition-title">Custom Values</span>
                        <div class="definition-line" *ngFor="let value of definition?.customValues">
                            {{value.name}} = {{value.value}}
                        </div>
                        <div class="definition-none" *ngIf="(definition?.customValues?.length || 0) == 0">
                            None
                        </div>
                    </div>
                    <div>
                        <span class="definition-title">Logging Templates</span>
                        <div class="definition-line" *ngFor="let template of definition?.templates">
                            {{template.category}} => {{template.text}} [{{template.messageType}}]
                        </div>
                        <div class="definition-none" *ngIf="(definition?.templates?.length || 0) == 0">
                            None
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-commands">
                <button mat-stroked-button matStepperPrevious>Back</button>
                <button mat-stroked-button matStepperNext class="pull-right">Next</button>
            </div>
        </mat-step>
        <mat-step label="Import Robot Type">
            <div class="panel-content">
                <div *ngIf="!isImporting">
                    <div *ngIf="isDuplicate">
                        <mat-icon>difference</mat-icon> This robot type already exists: importing will overwrite the existing definition.
                    </div>
                    <div>
                        This action will import the definition for <b>{{definition?.name}}</b>.
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <b>Warning:</b> this action cannot be reversed.
                    </div>
                    <div>
                        <button mat-raised-button color="primary" (click)="startImport()">Continue with Import</button>
                    </div>
                </div>
                <div *ngIf="isImporting">
                    <div *ngIf="!isFinished">
                        Import in progress...
                    </div>
                    <div *ngIf="isFinished">
                        Imported finished: <b>{{successful ? "successful" : "failed"}}</b>.
                    </div>
                    <div *ngFor="let result of results">
                        {{result}}
                    </div>
                </div>
            </div>
            <div class="panel-commands">
                <button mat-stroked-button matStepperPrevious *ngIf="!isImporting">Back</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button *ngIf="!isFinished && !isImporting" [mat-dialog-close]="false">Cancel</button>
    <button mat-stroked-button *ngIf="isFinished" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>