<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title">Settings</h3>
    <div class="modal-body">
        <form clrForm>
            <app-user-settings-editor [settings]="settings"></app-user-settings-editor>
        </form>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{errorMessage}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="opened = false">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="doSave()">
            Save
        </button>
    </div>
</clr-modal>